[2017-04-27 09:56] chenzx1020 opened #2 "OBJECT_BINARY_VALUE write data error"
Hello, first of all thank you for your provide BACnet for C#,I met problem in use process, would you please help me to look at. I use OBJECT_BINARY_VALUE  write data happen error: Error from device: ERROR_CLASS_PROPERTY - ERROR_CODE_INVALID_DATA_TYPE, thank you very much!
`            BacnetObjectId oBacnetObjectId = new BacnetObjectId();
            oBacnetObjectId.Type = BacnetObjectTypes.OBJECT

[2017-04-27 15:01] gralin commented on #2
Hi, set the data type for value, right now it's being sent with `BACNET_APPLICATION_TAG_NULL`. Try this:

[code]
or
[code]

[2017-04-28 01:51] chenzx1020 commented on #2
Hi @gralin, i use the
`new BacnetValue(BacnetApplicationTags.BACNET_APPLICATION_TAG_ENUMERATED, 1)`
sent data for success,
however i use
`new BacnetValue(BacnetApplicationTags.BACNET_APPLICATION_TAG_BOOLEAN, true)`
not success,
thank you very much!

[2017-04-28 06:17] gralin commented on #2
@chenzx1020 I'm glad it works for you. If you find this library useful, a star on the repository will be apriciated :)

[2017-04-28 06:17] #2 closed

[2017-05-07 14:48] chenzx1020 opened #3 "BACnet server off the client how to know"
Hi @gralin, I have a question to ask you, If the BACnet server is closed, through the BacnetClient object with propertys or events to know that the server has been closed?

[2017-08-05 04:10] pigwing opened #5 "Hi the whois return 255.255.255.255"
in my compuer whois return UnicastAddresses 255.255.255.255
and i send the correct who is length is 54 bug it is 50

[2017-08-05 07:05] pigwing commented on #5
in my computer Broadcast is not found , it is default 255.255.255.255, so i must bacnet_client.WhoIs(receiver: new BacnetAddress(BacnetAddressTypes.IP, "192.168.199.255", 0xFFFF));

[2017-08-05 07:24] pigwing commented on #5
GetBroadcastAddress has bug

[2017-08-05 07:26] pigwing commented on #5
but IPAddress.Broadcast is 255.255.255.255

[2017-08-08 20:53] gralin commented on #5
@pigwing thanks for the info. I'm swamped at work so can't look it up but if you could send me a pull request I will investigate.

[2017-08-09 15:34] gralin commented on #5
@pigwing I took a loot at the code that generates the broadcast address and it works for me. Are you setting your local endpoint address when creating the client object?

[2017-08-09 15:38] gralin commented on #3
@chenzx1020 since the communication is done thru connectionless protocol (UDP), there is no open connection that could be monitored (like with TCP). Your safest bet to know if server is available is periodically reading its DEVICE_OBJECT properties or sending WHO_IS command and listenning for I_AM response from your server.

[2017-08-09 15:38] #3 closed

[2017-09-18 06:05] krogal1985 opened #6 "How use request for many Tags"
Hello!
How can I make a query with one command of all the Tag.
Now for each Tag, I call ReadPropertyRequest ().

[2017-09-30 14:12] ReiminkB opened #7 "Abort from device: 4"
For a couple of devices a try to talk with, I get the following error when using the ReadPropertyRequest function:  "Abort from device: 4". I looked the byte up and I saw that it means: Invalid APDU in this state.
Can I adjust this state in the driver?

[2017-11-05 02:08] gralin commented on #6
Hi @krogal1985, do you still need help with your question or did you figure it our?

[2017-11-05 02:10] gralin commented on #7
Hi @ReiminkB, can you post the part where you call ReadPropertyRequest and tell me what kind of object and property you want to read from?

[2017-11-05 02:11] gralin commented on #5
@pigwing do you have any more info about the bug you are refering to or can I close this?

[2017-11-15 21:24] gralin commented on #7
Closing due to lack of feedback

[2017-11-15 21:24] gralin commented on #6
Closed due to no response

[2017-11-15 21:24] #6 closed

[2017-11-15 21:25] gralin commented on #5
Closed due to inactivity

[2017-11-15 21:25] #5 closed

[2017-11-17 00:21] gralin commented on #7
@ReiminkB thanks for the feedback. Could you please try the latest beta (1.0.19) and see if you get a more human friendly message?[ Abort code 4 means that segmentations is not supported](https://github.com/ela-compil/BACnet/blob/dce2b87da5f4eca897b6b8a483fc665e20fbdfa1/Base/BacnetAbortReason.cs#L40). Your device has too many objects and you can't read them due to lack of segmentation support (rea

[2017-11-17 15:35] ReiminkB commented on #7
@gralin thanks for the answer. I replace 1.0.13 for 1.0.19-beta and got indeed the message: "Abort from device, reason: SEGMENTATION_NOT_SUPPORTED"

Thanks for the useful information from that link.

I adjusted my code by reading the properties one by one, as you suggested, when trying to read the complete list fails.

I tested the code and now it works for that device as well.

Thanks!

[2017-11-17 15:53] gralin commented on #7
@ReiminkB I'm glad it works for you! If you find this lib useful please give it a star :innocent: I'm planning a rewrite of the API so it's more user friendly, so stick around for v2 in near future.

[2017-11-17 15:53] #7 closed

[2017-11-30 10:16] BennoMeijer opened #8 "Weekday in trendlog"
Hi,
When I use a trend log object and I try to read the data I'm getting weekday errors. In wireshark you can see that sunday is given day 0 instead of 7.

I have changed something in the Serialize/ASN1.cs,  encode_bacnet_date

        public static void encode_bacnet_date(EncodeBuffer buffer, DateTime value)
        {
            if (value == new DateTime(1, 1, 1)) // this is the way decode do fo

[2017-11-30 13:36] gralin commented on #8
@BennoMeijer thank you for reporting this! I had a look at the specification and indeed you are right:

But what is interesting, YABE has the same bug:

https://sourceforge.net/p/yetanotherbacnetexplorer/code/HEAD/tree/trunk/Yabe/BACnetBase.cs#l4115

I will fix this as you suggested but it will not solve your problem right? I'm up for helping you but don't have any device I could query for trendlo

[2017-12-01 16:07] BennoMeijer commented on #8
Hi gralin

When I look at the wireshark data I see something that is different from working devices that I have here.
The datatype doesn't look right to me,
![image](https://user-images.githubusercontent.com/25593517/33490177-8f069cca-d6b6-11e7-9f12-a75343792a50.png)

When I change in System.IO.Bacnet.Serialize
ASN1.encode_tag(buffer, (byte)record.type, **false**, (uint)tmp1.offset); (line 2313) t

[2017-12-01 19:01] gralin commented on #8
@BennoMeijer good catch! Since `BacnetTrendLogValueType` is being used tag number instead of `BacnetApplicationTags`, therefor we need to signal this as context specific (value `true`). In your case `TL_TYPE_REAL` (value 2) was treated as `BACNET_APPLICATION_TAG_UNSIGNED_INT` (same value 2) and that's what you were getting in first screenshot. This bug is inherited from YABE:

https://sourceforge.

[2017-12-05 08:44] BennoMeijer commented on #8
Hi Gralin
I have it almost working. After I send the historical data I need to send the next sequence number. Is there already a function in ASN1 I can use to create this last part?
![image](https://user-images.githubusercontent.com/25593517/33597589-2cda0c20-d9a0-11e7-870a-8e717856a974.png)

[2017-12-06 00:43] gralin commented on #8
Hi @BennoMeijer, could you explain me your use case, what are you trying to do and where are you facing problem? Are you using `BacnetClient` class or just `ASN1` directly?

[2017-12-06 23:14] cemremengu opened #9 "Cant figure out how to trigger event notification"
I tried everything (including setting an event enrollment with a notification class) but cannot figure out how to trigger event notification

`bacnet_client.OnEventNotify += new BacnetClient.EventNotificationCallbackHandler(handler_OnEventNotify);`

Is this the right way to use it? Any help is greatly appreciated and thanks for this great library!

[2017-12-07 01:51] gralin commented on #9
Thanks @cemremengu. So did setting event enrollment work? If so you should start receiving events from your device. Best way to debug is to use [Wireshark with bacnet filter](https://wiki.wireshark.org/Protocols/bacnet). This way you will see if you are sending the enrollment, if it's being set and if you receive any events. You can also post your code here or PM me and I will take a look.

[2017-12-07 09:50] BennoMeijer commented on #8
Hi,

I write a program that acts as a bacnet device to import historical data as
counter values ​​by retrieving them by a rest api.
I started with code from the sample code of 'AnotherStorageImplementation'
and I use the NuGet package, latest version.
I have only overwritten the functions I mentioned above.

Regards

Benno Meijer

2017-12-06 1:43 GMT+01:00 Jakub Bartkowiak <notifications@github.co

[2017-12-07 11:59] cemremengu commented on #9
Great, it was the simulator not producing event I think. It works on a real controller. Is there any way to get the `presentValue` property in the EventData?

[2017-12-07 14:36] gralin commented on #9
@cemremengu, I took a look at the code and decoding of some notification data is missing, take a look here:

https://github.com/ela-compil/BACnet/blob/master/Serialize/Services.cs#L870

Lower in that part of code you can see that encoding of the values is implemented so if you send, let's say notification of tyoe `BacnetEventTypes.EVENT_CHANGE_OF_VALUE`, the changed value will be encoded and sent

[2017-12-07 19:42] cemremengu commented on #9
Thanks for the suggestions! I will probably go for a PR :) The problem with sending a read request is that if the event is initiated by an `event enrollment` object, it does not tell me what the monitored object was so I have no information to query the value (unless I am missing something)

[2017-12-07 20:06] gralin commented on #9
PR is always welcome :) In event data you have two properties:

[code]

Is neither of these your monitored object id? If not, then you are right, you have to decode the missing part...

[2017-12-12 13:29] BennoMeijer opened #10 "Segmentation NotSupported Exception"
Hi,

I'm getting a exception, probably caused by segmentation.
there is a timeline for the implementation of segmentation ?

System.Transactions Critical: 0 : <TraceRecord xmlns="http://schemas.microsoft.com/2004/10/E2ETraceEvent/TraceRecord" Severity="Critical"><TraceIdentifier>http://msdn.microsoft.com/TraceCodes/System/ActivityTracing/2004/07/Reliability/Exception/Unhandled</TraceIdentifier><De

[2017-12-12 16:54] gralin commented on #10
Hi @BennoMeijer, sorry for this, it was my fault. The original code was silently ignoring the value being set on MaxInfoFrames so I changed it to throwing an exception. This caused however that segmentation got broken (but it's implemented and supported). I've fixed it. Can you check if it works for you now?

[2017-12-13 09:28] BennoMeijer commented on #10
Yep, This fixes my exception.
thanks for your fast solution

[2017-12-13 09:28] #10 closed

[2017-12-13 10:02] gralin commented on #10
@BennoMeijer glad it works for you. If you have any other problems or requests just open an issue and I will see what I can do. Also, if you find this lib useful, a star on the repo will be appreciated 😄 If you have some spare time, please check out the v2 branch, I'm trying to rewrite the API so it's more friendly there.

[2017-12-13 10:05] gralin commented on #8
@BennoMeijer is this solved or should this case be reopened?

[2017-12-13 16:43] BennoMeijer commented on #8
Hi,
if I add a value to a trend log, the status is uint. I think that should be a BacnetBitstring. When i try to set some value to the status i'm getting the wrong response.

![image](https://user-images.githubusercontent.com/25593517/33950552-fe4878a4-e02c-11e7-86ad-f6565472f61a.png)

[2017-12-14 03:05] gralin commented on #8
@BennoMeijer could you anwser a few questions so that I fully understand your issue?

1. You are using BACnet library + AnotherStorageImplementation project from examples to show a Trend object in your BACnet network that holds some values you get from other source through rest api, correct?

2. In above screenshot Trend object has invalid Status flags. This is the Trend object served by your proj

[2017-12-14 08:07] BennoMeijer commented on #8
Hi
In response to you question that's exactly what i try to do.
I setting the status from the trendlog to '3' to see if i get correct status flags but somewhere the uint is converted to a bitstring and something strange happens, I think it shout be a bitstring from the beginning. I'm setting the value trough the trendlog.AddValue().
I reading the trend by some kind of scada system for building man

[2017-12-14 08:57] BennoMeijer commented on #8
Unfortunately the 'var recordStatusFlags = BacnetBitString.ConvertFromInt((uint)record.statusFlags);' does not work as i expected. When i set status flag 'IN_ALARM' it is still converted as zero

![image](https://user-images.githubusercontent.com/25593517/33983474-a97ec1f6-e0b4-11e7-9b63-5f900e1a87c0.png)

![image](https://user-images.githubusercontent.com/25593517/33983512-c975a59c-e0b4-11e7-92a9

[2017-12-14 09:20] BennoMeijer commented on #8
Hi,
If i change the code into :
            /* Tag 2: status */
            var recordStatusFlags = BacnetBitString.ConvertFromInt((uint)record.statusFlags);
            //if (recordStatusFlags.bits_used > 0)
            if (true)
            {
                recordStatusFlags.SetBit(0, false);
                recordStatusFlags.SetBit(1, true);
                recordStatusFlags.SetBit(2, false);

[2017-12-14 14:08] BennoMeijer commented on #8
Hi,
It didn't work for me, but i found something. I have removed the opening and closing tags,

            /* Tag 2: status */
            var recordStatusFlags = BacnetBitString.ConvertFromInt((uint)record.statusFlags, 4);
            if (recordStatusFlags.bits_used => 0)
            {
                recordStatusFlags.SetBit(0, false);
                recordStatusFlags.SetBit(1, false);

[2017-12-14 15:07] #9 closed

[2017-12-14 15:14] cemremengu opened #12 "Discovered device is always offline"
Using stable version 1.0.13, I can discover my bacnet server from the controller panel and upload objects. However with the latest version from master branch there seems to be a bug.

I can discover the device (whois, iam packets look fine) but I get the error that the device is offline and cant upload the objects (or communicate with the device). Not sure what might be causing this but just dropp

[2017-12-18 09:12] cemremengu opened #13 "First stab at decoding notification values"
As mentioned in issue #9, here is my first stab in an attempt to decode the notification values, I used the bacnet-stack C library implementation as a direct conversion. The modification of `BacnetPropetyState` causes a breaking change for `bacapp_encode_property_state`.

Any help, ideas, suggestions appreciated to take this forward.

----
**Services.cs**
[code]
----

**ASN1.cs**
[code]
----

**Ba

[2017-12-18 10:53] gralin commented on #13
@cemremengu thanks, I will take a look at it after work and will let you know. Could you open a pull request with your changes so it's easier for me to track changes? Later on it will be also easier to merge them and you will be included in contributors here.

[2017-12-18 16:19] cemremengu commented on #13
@gralin let's continue from  #14

[2017-12-18 16:19] #13 closed

[2017-12-19 06:49] #8 closed

[2018-02-26 09:44] DarkStarDS9 opened #24 "More tests needed"
Now that we started to add tests, we should add more. Currently, DotCover reports the following coverage:

![bacnet_testcoverage](https://user-images.githubusercontent.com/10066128/36662754-b84f4f88-1adf-11e8-92fc-db535e469266.PNG)

It should be relatively easy to improve on this with back to back tests (like in *EventNotificationTests/should_raise_oneventnotify_when_sending_changeoflifesafety_dat

[2018-02-27 14:43] gralin commented on #24
I support the initiative 👍 Lack of unit tests in the original code slowes down any changes but also some parts of the code just simply don't work and either no one uses it, or people fix them without openning a PR. If there were many active contributors we would fill up this hole in no time, but under current circumstances I guess it will take some time, I am up for it however! Aside of writing wh

[2018-02-27 17:09] DarkStarDS9 commented on #24
I've covered `EventValues` and added tests for ASHRAE examples F.1.2 to F.1.8  in my working branch (except F.1.7 - GetEnrollmentSummary, because it doesn't seem to be implemented), the current stats are as follows:

![bacnet_testcoverage_2018_02_27](https://user-images.githubusercontent.com/10066128/36742939-4b564714-1be9-11e8-8c90-d1d7ea0e3c27.PNG)

I'll continue to add tests for more examples.

[2018-05-16 15:57] psicus78 opened #26 "Schedule Object write"
Hi,
I'm trying to update the value of a Schedule Object but I'm experiencing an issue.

This is the code snippet:
Client.WritePropertyRequest(new BacnetAddress(BacnetAddressTypes.IP, bacnetServer.Url+":"+bacnetServer.Port),
                    bacnetSchedulerIdentifier, BacnetPropertyIds.PROP_WEEKLY_SCHEDULE, valueWeeklyScheduleList);

the thrown Exception says "I cannot encode this".
Looking at s

[2018-06-11 14:57] tblong opened #27 "VMAC length 6 support"
Are VMAC addresses up to length 6 currently supported?  It does not currently seem to be the case based on looking at the BacnetAddress class.  The devices we need to talk to which have VMACs of length 6 are going through a Siemens bacnet router.  Is there a recommended way to use this library for these types of devices?

Happy to help provide support where I can.

[2018-11-14 16:55] jferreirasetesys opened #29 "NetStandard Version"
It would be a good solution to have a Net Standard version of the SDK. I think the only problem will be with serial port. One nice solution would be to have a base DLL compiled with Net Standard, and a Net 4.0 DLL based on that solution, adding the Serial Port MSTP implementation.
It could allow the Bacnet IP implementation on Linux, Mac, Xamarin, etc.

[2018-11-14 18:34] gralin commented on #29
@jferreirasetesys I agree, .NET Standard is the way to go with new projects, and libraries like this should be made compatible. Is anyone willing to contribute to this?

[2018-11-14 19:09] jferreirasetesys commented on #29
I actually already compiled it sucessfuly. It is just a matter of removing the MSTP components. I think the problem is more on the way it should be organized. With that solved i will gladly help.

[2019-02-21 09:53] maikebing commented on #29
#31  Update to netstandard2 and new project format

[2019-03-01 10:09] DoctorSloww opened #32 "Receiving events (OnEventNotify) is not working"
With **BacnetClient** I have used **OnEventNotify** event, but it seems that it is never called. However, **OnUnconfirmedServiceRequest** does work.
I have used "AnotherStorageImplementation" example which is sending those events.

I think the problem lies in Serialize\Services.cs DecodeEventNotifyData method.

[2019-03-01 16:45] gralin commented on #32
hi @DoctorSloww, which version of the nuget are you using? Please try with latest beta. If that still exists, can you checkout the v2 branch and try again?

[2019-03-04 09:37] DoctorSloww commented on #32
@gralin, the nuget I am using is: NuGet Package Manager 4.6.0.
And I installed BACnet.Core, version 1.0.30.
I think I have no option for beta.

I tried with v2 branch and it is the same.
Is it possible that AnotherStorageImplementation example is not working properly?
How would you test this?

[2019-03-14 12:49] michel-jump opened #33 "Discovering on non-0.0.0.0 ip not working"
We have BACnet implemented in a .NET core application running in Docker.
BACnet runs on 0.0.0.0:47808 on the host machine. So when I want to discover devices I use the IP of the host machine. But when I do that, it returns an error. When I check the IP and port with NMap (from within the Docker container), it shows that the port is available with service "BACnet" behind it.`

I recieve the followi

[2019-03-18 11:25] mcmayer opened #34 "How to use ReadPropertyMultipleRequest"
I'm starting to go round in circles with `ReadPropertyMultipleRequest`...

My understanding is that I need to pass in a `BacnetAddress` and a `List<BacnetReadAccessSpecification>`. Each `BacnetReadAccessSpecification` has a `BacnetObjectId` and a `List<BacnetPropertyReference>`. And a `BacnetPropertyReference` is a bacnet property ID (a `uint`, e.g. 85 for `PRESENT_VALUE`) and an array index.

So,

[2019-03-18 15:44] gralin commented on #34
@mcmayer How about doing it like this:

[code]

[2019-03-19 11:31] mcmayer commented on #34
I didn't know about these Async calls. I can give your suggestion a try.

But I still would like to know how to use these `BacnetPropertyReference` and `BacnetReadAccessSpecification` Lists.

[2019-03-21 13:34] promelectronshchic opened #35 "Bacnet Server sends too many unconfirmed COV notifications"
Hello. I have bacnet client (192.168.5.80) and bacnet server (192.168.5.81).
After client send 'write property', bacnet server sends response and then many the same unconfirmed messages. Sometimes 5, sometimes 10 or 20, 30.
![1](https://user-images.githubusercontent.com/1393020/54755454-a4c22f80-4bee-11e9-812c-9cafb90eced9.png)

[2019-03-28 13:21] TheKPAXian commented on #7
So, is there no way to read more than one object at a time, let's say, read in chunks of 10 objects?

[2019-04-08 09:01] basvanharten opened #36 "Use Microsoft.Extensions.Logging instead of Common.Logging"
The Microsoft .Net extension Microsoft.Extensions.Logging seems to be the logical successor to the Common.Logging library. Since the extension is actively being developed in my opinion that is the better (future proof) solution

[2019-04-08 10:05] gralin commented on #36
@basvanharten thanks, I will look into this

[2019-05-01 05:12] gowtham31 opened #37 "Bacnet BBMD Read request fail"
I am facing issue while connecting and reading Bacnet device objects through BBMD configuration. Though i get response of complex-Ack i am not able to read any object values. Please check the code below what i have used to read the bacnet object and wireshark packet details.
 public void ReadBacnetObject()
        {
            IList<BacnetValue> Value;
            BacnetIpUdpProtocolTransport bac

[2019-05-01 18:06] gralin commented on #37
@gowtham31 for sure this line is incorrect:

[code]

just remove ``` == false```. Does this help? If not, does the answer in wireshark dump contain the object list?

[2019-05-03 11:31] gowtham31 commented on #37
Thanks Gralin for your response.
Removing false check in ReadPropertyRequest doen't help. However i am getting the object list in the wireshark packet as per the below attachment
![image](https://user-images.githubusercontent.com/41775110/57134646-68c0e380-6dc4-11e9-9bbc-f90e913be3db.png)
Also from debugging the library, i have noticed that events subscribed in BacnetAsyncResult from BeginReadProp

[2019-05-12 08:08] hyperhand9 opened #38 "compile fail"
I downloaded bacnet library 1.0.30 version from nuget and wrote simple codes to send whois.
But When I compile the code I faced the error message below.

The type or namespace name 'BACnet' does not exist in the namespace 'System.IO' (are you missing an assembly reference?)

I think it's namespace collision. How do I solve this problem.

[2019-05-13 11:43] gralin commented on #38
@hyperhand9 are you sure have the reference to `BACnet.dll` in your project references?

[2019-05-20 19:37] yltsa opened #39 "Error when subscribing data from PLC.."
Hi, I am not so good in BACnet. But here is the problem.
We have a PLC which is trying to subscribe AnalogValue parameters from a Windows service which is based on this library. The problem is that the server decodes an error after bacnetClient.Notify function. The error comes in this function in BacnetClient class:
private void OnRecieve(IBacnetTransport sender, byte[] buffer, int offset, int msg

[2019-05-22 14:21] michel-jump opened #40 "WritePropertyRequest issue"
I am trying to write a value to the Room Controller simulator, but am not getting it to work. It returns false all the time.

This is my code:
[code]

The BacnetObjectId I am trying to write to is OBJECT_ANALOG_VALUE:0, which results in the Setpoint.value property.

Am I missing something?

[2019-05-22 14:35] michel-jump commented on #40
Found it, didn't start the bacnet_client properly.

[2019-05-22 14:35] #40 closed

[2019-06-05 11:00] yltsa commented on #39
Hello.. this error is maybe related to the examples.. I am using the SubscriptionManager from this example:

https://github.com/ela-compil/BACnet.Examples/tree/master/AnotherStorageImplementation

[2019-06-05 11:00] #39 closed

[2019-06-05 15:43] jreisman commented on #34
I ran into the same problem when trying to use ReadPropertyMultipleRequest() and found that I had to change my BacnetPropertyReference from:
`new BacnetPropertyReference((uint) BacnetPropertyIds.PROP_PRESENT_VALUE, 0);`

To:
`new BacnetPropertyReference((uint) BacnetPropertyIds.PROP_PRESENT_VALUE, System.IO.BACnet.Serialize.ASN1.BACNET_ARRAY_ALL);`

I guess if you specify an index at all it wants

[2019-06-06 07:58] gralin commented on #34
Correct, this is a design flaw made by the original authors. I totally agree that this is not intuitive, even though under the covers indeed the index is always sent. That's why I added some suplement methods (the async ones) to make life easier. In the future I was planning on breaking backward compatibility and rewritting the API so it makes more sense.

[2019-06-20 11:31] samratmatte opened #43 "How to Stop Bacnet Activity?"
`static void StartActivity(int? bacNetServerId, out BacnetClient bacnet_client)
        {
            var port = Convert.ToInt32(bacNetServerId.ToString());
            // Bacnet on UDP/IP/Ethernet
            bacnet_client = new BacnetClient(new BacnetIpUdpProtocolTransport(port, false));
            try
            {
                bacnet_client.Start();    // go

                // Send WhoIs

[2019-06-28 01:52] JawadJaber opened #44 "Raspberry Pi Example Has Exception - Platform not supported"
I tried to run the RP example with Mono, and with .Net Core 2.2 Both trials return similar message at this line

  bacnet_client.Start();

platform not supported exception socket.iocontrol, handles Windows-specific control codes and is not supported on this platform.

[2019-06-28 09:32] sjpkt opened #45 "WriteScalarValue issue"
I got an exception unhandled when I was trying to write a value to multi-state-value. It say "System.Exception: 'Error from device: ERROR_CLASS_PROPERTY - ERROR_CODE_INVALID_DATA_TYPE'"
Here is my code.
`uint bacnetinstaid = Convert.ToUInt32(changemode.Bacnet_Instance_ID);
int bacnetid = Convert.ToInt32(changemode.Bacnet_Instance_ID);
WriteScalarValue(deviceid, new BacnetObjectId(BacnetObjectTypes

[2019-07-01 08:18] sylfab opened #46 "Mixed answers"
I have two threads in a same program, each thread is executed every seconds, they call ReadPropertyRequest function.
First thread get a BinaryValue (0 or 1), second thread get an AnalogValue (between 20 and 30).
Sometimes ReadPropertyRequest of BinaryValue return the AnalogValue!
Can someone have a solution of my problem?
PS: i call ReadPropertyRequest because COV does'nt seem to work for me

[2019-07-05 02:47] #45 closed

[2019-08-01 03:05] hoangdungt2 commented on #44
for i case it works just fine, when you create bacnet client do not enter ip address in there
`var bacnetClient = new BacnetClient(new BacnetIpUdpProtocolTransport(0xBAC0, false));`
`bacnetClient.start();`
I don't use mono, just publish as "linux-arm" and it will work well for rp3, e.g.
`dotnet publish -c Release -r linux-arm -o outputFolder`

[2019-08-01 03:08] hoangdungt2 opened #48 "bacnetClient on eth1 on raspberryPi"
I use BACnet package with dotnet core 2.2 and the code works fine with linux-arm runtime, my code (F#) is quite simple
`let bacnetClient  = new BacnetClient(new BacnetIpUdpProtocolTransport(0xBAC0, false))`
`bacnetClient.Start()`
However, it always runs on eth0, I want it to run on eth1 (an usb-lan adapter), is there a way to do so? Thanks

[2019-08-06 11:46] gralin commented on #48
Can you try to specify the local IP address that binded to your eth1?

[code]

[2019-09-17 12:38] JawadJaber commented on #44
The solution provided by @mykah89  and @pnguyen-ecs worked for me and not errors appeared.
Many thanks everybody.🙏

[2019-10-14 13:59] mykah89 opened #49 "Bacnet Client Notify always returns false for issueConfirmedNotifications"
The current code expects a bool to be returned, presumably indicating success, however EndConfirmedNotify in this instance seems to only exit when an exception is thrown.

This results in false always being returned for confirmed notifications.

`            using (var result = BeginConfirmedNotify(address, subscriberProcessIdentifier, initiatingDeviceIdentifier, monitoredObjectIdentifier, timeRem

[2019-10-25 14:07] mykah89 opened #50 "Race condition within BacnetAsyncResult"
In the following code it is possible for the event handlers, in my case, it was the OnSimpleAck to be called before the instantiation of the ManualResetEvent.

This results in the possibility of a NullReferenceException, and can be fixed by moving the creation of the ManualResetEvent prior to event registration.

[code]

[2019-10-27 13:43] gralin commented on #50
Thanks @mykah89

[2019-10-27 13:43] #50 closed

[2019-11-18 20:45] Eduard-G opened #51 "Decoding negative integer values with a length of 3 byte (24bit) is not correct"
A negative integer value of 3 bytes in length (for example -8336180) is incorrectly decoded from BACnet. That values are decoding in C# to an integer type (32 bit), but the highest 8 bits are not set to TRUE. That's necessary to get a negative 2's complement integer value.

**Original code in ASN1.cs (starting at line 1176):**
[code]

**Modified code that should be work:**
[code]

[2019-11-19 17:51] gralin commented on #51
@Eduard-G thanks for reporting this, indeed this is a bug. I checked and it's present in base YABE source code too. I have submited a pull request, can you take a look? Through unit tests I discovered that not only decoding but also encoding was invalid in one case 🤦‍♂

[2019-11-19 22:04] Eduard-G commented on #51
@gralin thanks for fast response! Your fix is working fine. The encoding issue was very "unvisible" from system-test perspective 😉

[2019-11-19 22:04] #51 closed

[2020-01-14 22:06] Eduard-G opened #53 "Wrong application tag if decoding BACnetDeviceObjectPropertyReference values?"
**In ASN1.cs (@ line 1989):**

[code]
Would not be _BACNET_APPLICATION_TAG_DEVICE_OBJECT_PROPERTY_REFERENCE_ the right one?

[2020-01-17 13:07] MahajanHarsh commented on #37
I am facing the same issue. Did you find any solution to this?

[2020-01-23 21:27] gralin commented on #53
@Eduard-G yes, you are right. One of many bugs coming from original YABE source code. I checked and it's still there too.

https://sourceforge.net/p/yetanotherbacnetexplorer/code/HEAD/tree/trunk/Yabe/BACnetBase.cs

[2020-01-23 21:34] #53 closed

[2020-01-23 21:38] gralin commented on #37
@MahajanHarsh can you share your code provide a wireshark dump of the relevant request and response?

[2020-03-12 11:41] sevenam commented on #10
In my case I had not set the MaxSegments property for the BacnetClient. E.g.:

`BacnetClient.MaxSegments = BacnetMaxSegments.MAX_SEG4;`

[2020-04-10 14:35] drosenba opened #54 "Can't JSON Deserialize BacnetAddress"
I'd like to use  Newtonsoft.Json to serialize and then deserialize a List<BacnetAddress>
I can serialize it, but I can't deserialize it.   Why doesn't BacnetAddress have a **default** constructor?  Can it? :)

System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> Newtonsoft.Json.JsonSerializationException: Unable to find a constructor to use f

[2020-04-26 21:45] gralin commented on #54
@drosenba sure, this class could have all constructor arguments with default values which would solve your issue. Which branch are you using?

[2020-04-27 14:51] drosenba commented on #54
Nuget package BACnet.Core (1.0.20)

[2020-05-06 20:34] gralin commented on #54
@drosenba that package comes from a fork of this repository, becuase the original nuget from here still doesn't have .net core version up on nuget. I will try to publish it but since it was added in version 2 which has some breaking changes, it might be a beta at first.

https://www.nuget.org/packages/bacnet/

[2020-05-06 20:34] #54 closed

[2020-06-12 18:01] Sumeet001 opened #56 "How to change network number for server?"

[2020-06-13 12:15] gralin commented on #56
You set it in `BacnetAddress` object:

[code]

[2020-07-30 09:17] minzdrav commented on #46
Hi Guys,
I have same problem with https://github.com/ela-compil/BACnet/tree/v2-netstandard brunch.
Could you please try to fix?

[2020-07-30 10:06] gralin commented on #46
Unfortunatelly the client was not written to be thread safe. Try using a lock each time before you use it or write a wrapper that would do it for you for each atomic operation. Since BACnet operations have identifiers it should be possible to allow multiple requests to be sent out in the same time. I will leave this issue open to try to address it in the future.

[2020-07-30 10:10] minzdrav commented on #46
Hi @gralin
Thank you.
Yes, it's working fine with locks.
I have 1 thread per device and customer want to read properties and values from many devices. I'll try to create BACnet client per thread. Should work faster than locks.

[2020-08-14 08:23] minzdrav commented on #44
Hi BACnet libary team
Please reopen issue and integrate fix for DisableConnReset to v2-netstandard branch.
I'm using .net core 3.1. Library working fine on windows 10 + wsl2 + docker and on raspberry pi 4 + ubuntu + docker.
IsOSPlatform is supported by .net core, .net framework, .net standard
https://docs.microsoft.com/en-US/dotnet/api/system.runtime.interopservices.runtimeinformation.isosplatform

[2020-08-14 10:18] gralin commented on #44
Hi @minzdrav, you are right this should be integrated with that branch. I will let you know when this is available.

[2020-08-14 11:19] Sn3b opened #57 "Abort from device, reason: BUFFER_OVERFLOW"
We have a device that has over a thousand objects and we get an overflow when trying to detect them using the code provided in the ObjectBrowseSample example.

[code]

Here "C:\Sources\Tests\BacnetTests\Discover\Program.cs:line 27" refers to [this line](https://github.com/ela-compil/BACnet.Examples/blob/master/ObjectBrowseSample/Program.cs#L27)

I'm no BACnet expert so I have no idea what to do, a

[2020-08-30 09:03] mwitt1337 opened #58 "MSTP Read/write example"
I didn't see any examples for read/write MSTP devices including the ip address, network number, MAC address, and instance id.

Can you create an example?

[2020-09-09 09:56] jgmdavies commented on #58
@mwitt1337  As no-one else has answered, have you seen the basic read/write example at [](https://github.com/ela-compil/BACnet.Examples) ?   I'm just trying to use it, but hitting some problems.
Jim

[2020-09-09 16:08] jgmdavies commented on #58
Thanks Jakub.  I hope I didn't mislead anyone about the MSTP - I'd noticed the commented-out call to 'BacnetMstpProtocolTransport' in that example!

I guess the code has been refactored since that line was written though, as it doesn't compile now, so I replaced it here with something like (simplified):

`
var serialTransport = new BacnetSerialPortTransport("COM4", 38400);
`
`
var transport = new

[2020-09-10 09:27] Sn3b commented on #44
Any idea when this change will be available?

[2020-09-15 09:05] Sn3b commented on #57
The manufacturer (Honeywell) told us to use dontFragment = true and useExclusivePort = true, now it works :)

[2020-09-15 09:05] #57 closed

[2020-09-15 10:47] Sn3b opened #59 "useExclusivePort & dontFragment set to true don't work from Docker container"
I created a console app that runs from a docker container.
I have 2 bacnet gateways, one that doesn't require useExclusivePort & dontFragment, and it works fine, but the other one does require useExclusivePort & dontFragment to be set to true, and I keep getting the error "No response within 00:00:01".

I have no idea where to look, any suggestion appreciated!

[2020-09-16 10:32] gralin commented on #59
@Sn3b are you sure your container configuration allows UDP traffic on the ports used? Can you monitor with Wireshark what is being sent out and if indeed no response is being received?

[2020-09-16 11:44] Sn3b commented on #59
I have one of my gateways that doesn't require the use of useExclusivePort & dontFragment when creating the transport, and there it works fine with docker.

With the second one, the one that does require the use of useExclusivePort & dontFragment when creating the transport, and after a few tests, I see I do receive responses, but the source IP is the one of the internal docker bridge.

I haven't

[2020-10-19 18:11] mwitt1337 opened #60 "Priority Array read throwing ERROR CODE UNKNOWN PROPERTY"
I'm able to read properties and values from the object list without issue until I try to read the priority array.

Code below and screenshot of console output attached.

    public BacnetDevice ReadDeviceProperties(BacnetDevice objDevice)
    {
      Bacnet_client.ReadPropertyRequest(objDevice.Address, new BacnetObjectId(BacnetObjectTypes.OBJECT_DEVICE, objDevice.InstanceId), BacnetPropertyIds.PRO

[2020-10-20 07:58] gralin commented on #60
Hi @mwitt1337, would you be able to provide me wireshark dump with the request and response (only those packets needed) which is triggering the error? This would be the easiest way to fix it. Thanks!

[2020-10-20 13:26] mwitt1337 commented on #60
I'm trying to figure out what's going on here because there is a growing list of Property Ids that are returning Unknown Property.

I've attached a screenshot from BDT 2.12.01 Bacnet Explorer that returns values for these properties from the same devices that are returning Unknown Property using this API.

Of course the first instinct is to think that the device address is incorrect but shown in m

[2020-10-20 13:46] mwitt1337 commented on #60
Here is my list of tested properties

**FAILED: UNKNOWN PROPERTY**
PROP_SYSTEM_STATUS
PROP_VENDOR_NAME
PROP_VENDOR_IDENTIFIER
PROP_MODEL_NAME
FIRMWARE_REVISION
PROP_APPLICATION_SOFTWARE_VERSION
PROP_PROTOCOL_SERVICES_SUPPORTED
PROP_PROTOCOL_OBJECT_TYPES_SUPPORTED
PROP_LOCAL_DATE
PROP_LOCAL_TIME
PROP_MAX_MASTER

**RETURNED VALUES**
PROP_OBJECT_NAME
PROP_PRESENT_VALUE
PROP_STATUS_FLAGS = 0000

[2020-10-20 13:51] mwitt1337 commented on #60
Working on getting the Wireshark data

[2020-10-20 22:57] mwitt1337 commented on #60
Dumped from code loop in this thread trying to read priority array.

[dump.zip](https://github.com/ela-compil/BACnet/files/5412110/dump.zip)

[2020-10-21 13:51] gralin commented on #60
Thanks @mwitt1337 I will look into this.

[2020-10-22 06:06] MatthijsvdVeer commented on #33
Old issue, but I ran into this yesterday. I fixed it by setting my container to run on the host network.
```docker run --rm -d --network host some-image```

[2020-10-23 14:54] mwitt1337 commented on #60
Update from more testing

I tested the property PROP_VENDOR_NAME and it returns a value for the device that responds to the WhoIs. The problem starts when I pull the PROP_OBJECT_LIST from the parent device who responds to the WhoIs and I try to read PROP_VENDOR_NAME from the devices in the PROP_OBJECT_LIST.

[2020-11-15 05:03] andersaslund opened #61 "System.ObjectDisposedException in BacnetIpUdpProtocolTransport.OnReceiveData"
Hi,
We keep reciving System.ObjectDisposedException that is not caught by try catch for some reason, causing our whole application to crash (as this runs on a separate thread). Looking at the OnReceiveData function, it's pretty much completely wrapped in try catch with should catch it. Except the first line:

"private void OnReceiveData(IAsyncResult asyncResult)
        {
            var connectio

[2020-11-16 06:50] andersaslund commented on #61
Pasting the code of OnReceiveData also.
I've tried adding code that disposes the socket in multple places to see where it could fall through, but the exceptions always gets caught corrently when I try.

private void OnReceiveData(IAsyncResult asyncResult)
        {

            var connection = (UdpClient)asyncResult.AsyncState;

            try
            {
                IPEndPoint ep = null;

[2020-11-16 07:01] andersaslund commented on #61
I might have found the issue. Disassembling the libbacnet.dll we used showed that the code didn't match what was in 1.1.0 and what I pasted here. We where using 1.0.0, where it actually looks like the the exception could be found without being caught.

if finishes like this:
 catch (Exception ex)
      {
        if (asyncState.Client == null)
          return;
        Trace.TraceError("Exception i

[2020-11-16 07:01] #61 closed

[2020-11-16 14:29] mwitt1337 commented on #60
Can you at least verify the correct code to read the PROP_OBJECT_LIST from a device?

[2020-11-18 19:48] mwitt1337 opened #62 "Read Properties of devices on a BACNET IP router"
Has anyone been able to successfully read properties from devices on a BACNET IP router?

I am able to read properties of the BACNET router and I can pull the PROP_OBJECT_LIST which returns all the instance ids of the devices on the router. However, when I try to read properties with the instance Ids of the devices from the PROP_OBJECT_LIST I get unknown property errors.

Am I doing something wron

[2020-11-25 09:38] MatthijsvdVeer commented on #46
Hey @minzdrav, just wondering if that worked for you? Did you manage to run a client per thread without issue?

[2020-11-25 09:42] minzdrav commented on #46
Hi @MatthijsvdVeer
Yes.

[2020-12-01 14:50] Padanian opened #63 "BacnetObjectId contains ambiguous members type and instance"
Type and Instance properties have ambiguous names with type and instance fields.
See image. In order to solve for the ambiguity, resorting to Reflection is required.

![Immagine 2020-12-01 152814](https://user-images.githubusercontent.com/7769348/100755791-d7c14c80-33ec-11eb-8fc5-b90119b1c3f1.png)
![Immagine 2020-12-01 152744](https://user-images.githubusercontent.com/7769348/100755795-d859e300-33

[2020-12-03 10:56] gralin commented on #63
Hi @Padanian, you are right, this code was written in C# and this error is VB specific (names are case-insensitive). I didn't remove or rename the type/instance fields when introducing the properties, becuase the fields were made public by previous contributors and I didn't want to introduce breaking changes. Of course the corresponding properties could have been named differently but I didn't thi

[2020-12-03 10:56] #63 closed

[2021-01-06 15:27] wvangeem opened #64 "Cannot read BacNet properties when device is on BacNet protocol 7.2 instead of 6.0"
Code worked perfectly with BacNet protocol 6.0
Customer changed device to protocol 7.2, and could not retrieve properties anymore.

Any idea what could be the reason, is the package not supported for 7.2?

[2021-01-12 23:53] gralin commented on #64
Hi @wvangeem what device are you using? 6.0 and 7.2 is not a version of BACnet but apparently some version of the firmware of that device which seems to be causing issues with this library. Can you provide some logs or feedback which properties are causing the problems?

[2021-01-18 09:40] dibrony opened #65 "Could not run BACShark in parallel"
Hi,

I am using this library.

When I use it as: BacnetIpUdpProtocolTransport udp_transport = new BacnetIpUdpProtocolTransport(c_bacnetPort,false) it works perfect but the problem is that I have 2 network cards on my PC and sometimes it sends the data through the wrong card.
I tried: BacnetIpUdpProtocolTransport udp_transport = new BacnetIpUdpProtocolTransport(c_bacnetPort,false,false,1472,bacnet_

[2021-01-19 16:53] dibrony opened #66 "How to change the Source port ?"
Hi,

Each time I run the application i have a new random source port while the destination port is always 47808.
How can I fix the source port ? I need it to be 47808 as well.

Thank you

[2021-01-20 14:49] gralin commented on #66
Hi @dibrony, you need to set `useExclusivePort` on the transport to `true` and specify the port you want to use.

[code]

This is the same setting you need to change in Yabe the first time you use it, so it always uses the same source UDP port.

![image](https://user-images.githubusercontent.com/3457048/105191179-1515a100-5b37-11eb-9fe3-705076477d61.png)

[2021-01-20 15:17] gralin commented on #65
Hi @dibrony, you are correct, by default the library will use any local interface to send the requests (at least for broadcasts but for unicast it will choose the right interface, so it shouldn't mix it). But if you specify the `localEndpointIp` for the transport, then you should limit it to that particular interface.

As to why it's blocking BACShark, it's because you are trying to use two apps a

[2021-01-20 15:57] dibrony commented on #65
Hi,

Thank you @gralin for the above info, I have also checked your answer on my other issue (#66). I will try them within few hours.
However, I noticed something yesterday while trying my code: the data I sent through BACnet is reained locally, the other guy is not able to see them on his PC via the server (as he can see other machines parameters...). Do you think setting the useExclusivePort to

[2021-01-20 16:04] dibrony commented on #65
Hi again,

Also there is something called network number (if i am not mistaken), we need it to be 100. How can I set it please ?
Just found your email, I will send you the program now.

Regards

[2021-01-20 18:13] gralin commented on #65
The API of this library is a bit tricky, that's something I didn't change and it's inherited from the original implementation inside YABE. So you declare the network value in the `BacnetAddress` which you later provide as agument to read/write values from remote objects.

[code]

Yes, could be, the other device might ignore packets coming from different port than 0xBAC0. Best way to verify is to r

[2021-01-20 19:06] dibrony commented on #65
Hi,
Thanks again for your support, however please advise where should I put the code of the network number.

[2021-01-25 10:28] dibrony commented on #65
Hi again,
concerning the above, i remove the m_ip_server.OnSubscribeCOV += new BacnetClient.SubscribeCOVRequestHandler(OnSubscribeCOV); code. It seems to be working now, althought I don't know if I need it elsewhere...

On more thing, how can I create a parameter of type "Enumerated" ?

Thank you

[2021-01-28 11:34] dibrony commented on #65
Hi,

Thank you for your support, it seems to be working now.

However it is not sending the Alarm notification to the monitor, i think it is related to the receipient list property (Bacnet type: Destination). I am not able to add this property.

Can you help in this ? any example please ?

Regards

[2021-02-05 10:26] mazinv opened #67 "Event notification (alarms) not working"
Hello, I implemented EventNotificationCallbackHandler and registered it under BacnetClient's OnEventNotify to recieve notifications about alarms, but I nevere recieved one. I know that I should be notified about this event, becouase Yabe is but my app is not. How can I fix this?

Thank you

[2021-02-11 11:11] gralin commented on #65
Hi @dibrony can you please clarify, do you want to receive alarm notification in your code or do you want to send it?

[2021-02-11 13:41] dibrony commented on #65
Hi,

I want to send an alarm notification to the server (according to an input I have).
server instance=200

Thank you
Rony

[2021-02-11 14:25] gralin commented on #65
Ok and you are interested in

1. `client.Notify()` - sends change of value notification
2. `client.SendUnconfirmedEventNotification()` - sends event notification

[2021-02-17 15:06] patrickthoma opened #68 "Method overload of ReadRangeRequest() for RR_BY_TIME missing"
Hello,

my requirements include reading trend log data starting from a certain point in time onwards. I can't use the `ReadRangeRequest()` method as I don't know from which index on I have to read data.

Therefore, I would like to ask if you could provide a method overload of the `ReadRangeRequest()` method, taking a `DateTime from` parameter? Seems like `EncodeReadRange` already supports RR_BY_TI

[2021-02-22 08:19] patrickthoma commented on #68
I tried to solve the first issue by myself, see #69

[2021-02-22 09:02] Marwen09 commented on #58
Hello I tried to create a bacnetAdress with MSTP protocol but there are bacnetAdress only for IP and Ethernet , any idea?

[2021-02-22 09:04] Marwen09 opened #70 "MSTP bacnetAdress"
Hello I tried to create a bacnetAdress with MSTP protocol but there are bacnetAdress only for IP and Ethernet , any idea?
 public BacnetAddress(BacnetAddressTypes addressType, string address = null, ushort network = 0)
            : this(addressType, network)
        {
            if (address == null)
                return;

            switch (type)
            {
                case BacnetAddre

[2021-02-24 22:36] gralin commented on #70
Hi. For some reason the original author didn't include option of providing MSTP address using this constructor. I suggest you use the other one like this:

[code]

[2021-02-24 22:36] #70 closed

[2021-02-24 23:00] gralin commented on #58
As suggested in #70

[2021-02-24 23:00] #58 closed

[2021-02-24 23:19] gralin commented on #68
Hi @patrickthoma thank you for solving the issue you have reported.

As to the manual, unfortunately there is none. The story of this library is rather complicated, it was developed by different developers in different points in time, and last one (Frédéric Chaxel) created YABE app with it. When I first came across YABE it helped me investigate some BACnet device and later I wanted to write a smal

[2021-02-25 22:24] gralin commented on #68
Your changes are available in v1.1.2 on NuGet, thank you!

[2021-02-25 22:24] #68 closed

[2021-03-11 17:36] LADSoft opened #75 "Need Routing Info"
on BIP the standard way to handle multiple device objects internal to one physical server device seems to be to have a router and set the source/destination fields appropriately.   In particular packets sourced from the device holds a SOURCE field in the NPDU header and coming into the device the DESTINATION field in the NPDU header tells which device to route to (the router device itself reacts t

[2021-03-11 21:13] gralin commented on #75
Hi @LADSoft thank you for sharing. May I ask if you have already implemented this in your own fork? If yes, maybe you would be willing to open a pull request to have it merged here? I sounds like a valid use case. I'm just worried if I will be able to test it correctly and it seems that you already have a setup for this. If you didn't implement this yet or you are using a different library that co

[2021-03-12 13:35] LADSoft commented on #75
Thanks, I checked and got the ok from my supervisor to do a PR for this project.   We are porting both a client and server from the C language BACnet stack by Karg to C# so I can test the server-side changes against the old version of our client... both had previously been to plugfest a couple of times so we are pretty confident in how they work.   Give me a couple of weeks to finish up the testin

[2021-03-18 05:19] 9008926625 opened #76 "Bacnet Client not discovering on Diffrent networks"
Hi

I am using Bacnet client dll ver 1.1.4.0. Bacnet devices not discovering in yabe and BDT (Bacnet Discovery tool) on different Networks.
It is working for the same networks.

e.g
1. I have 172.16.1.64 (Yabe Explorer) and 172.16.1.23 (Bacnet device)  it is working fine
2. 172.16.1.23 (Bacnet device) and 192.168.2.200 (Yabe Explorer)  not discovering Bacnet Devices

Please do the needful.

[2021-03-18 10:30] gralin commented on #76
This should help: https://github.com/ela-compil/BACnet/issues/65#issuecomment-763702546

[2021-03-18 13:02] 9008926625 commented on #76
Thanks for your response.

where i need to add this in bacnet Library ?
receiver = new BacnetAddress(BacnetAddressTypes.IP, "192.168.2.200", network: 10000);

[2021-03-18 13:09] 9008926625 commented on #76
Now I'm able to see BACnet device name in yabe after adding this Code in I Am Function of BacNet Library

public void Iam(uint deviceId, BacnetSegmentations segmentation = BacnetSegmentations.SEGMENTATION_BOTH, BacnetAddress receiver = null)
        {

            receiver = new BacnetAddress(BacnetAddressTypes.IP, "192.168.2.200", network: 10000);
            var b = GetEncodeBuffer(Transport.Hea

[2021-03-19 19:42] LADSoft commented on #75
thank you @gralin for your effort in this, it does help not to have to host our own version.    I noticed you optimized a little too :smile:.

I ended up adding everything on our wishlist for the server side now...   that includes the change I talked about earlier as well as support for sending confirmed notifications, and server side support for event acknowledge and get event information.    oh

[2021-03-22 11:36] #76 closed

[2021-03-24 12:14] 9008926625 opened #77 "Bacnet Client in Failover Clustering"
Hi

We have configured Windows failover clustered network IP, Bacnet Client API is not discovering in yabe explorer.

Please Suggest any changes to be done in Bacnet client dll.

Please do the needful

[2021-03-24 13:02] LADSoft commented on #75
added to the list:   a couple of minor bug fixes probably noone ran into before...   also sending of 'abort' and 'reject' error messages is being overhauled to work as per the spec.    Meanwhile I really want to change one of the reject reasons from 'RECOGNIZED_SERVICE' to 'UNRECOGNIZED SERVICE' but that would mean source-level incompatibility.    Sigh.

[2021-03-26 07:13] #77 closed

[2021-03-26 07:32] 9008926625 opened #78 "Bacnet Client dll taking more CPU Usage"
Hi,

we have noticed that BACnet client API dll is taking high CPU usage.

Please suggest how we can resolve this.

[2021-03-26 08:52] gralin commented on #78
The library doesn't create any threads, it only reacts to external calls and I/O operations. If you have high CPU load then most likely you need to introduce throttling to your code.

[2021-04-01 14:38] #75 closed

[2021-04-23 10:59] ameyaalpha commented on #66
Which BACnet protocol version does the stack support? Has any of the device using the stack gone through BTL testing? Can you please let us know?

[2021-04-23 11:08] #65 closed

[2021-04-23 11:08] gralin commented on #66
@ameyaalpha please open a new issue as this question is not related to this topic

[2021-04-23 11:08] #66 closed

[2021-04-23 11:16] ameyaalpha opened #80 "About BACnet protocol & BTL testing"
Which BACnet protocol version does the stack support? Has any of the device using the stack gone through BTL testing? Please assist.

[2021-04-23 11:19] ameyaalpha commented on #66
OK thanks @gralin

[2021-04-25 14:52] gralin commented on #80
BTL testing is for devices, not stack implementations, so the questions should be, if there is any device using this stack implementations which passed BTL certification? And to be honest, I don't know 🙈 Anyone knows about any case of device getting BTL certificate which is is based on stack derived from YABE implementation?

As for BACnet protocol version support, this question is also inaccurate

[2021-04-26 06:50] petferns commented on #7
Hi @gralin I am trying to use the sample project (https://github.com/ela-compil/BACnet.Examples) BacnetToDatabase project. When I run, the form opens and I see ipaddress and name, I select it and click on Transfer to SQL CE, I get error - **{"Abort from device: 4"}** on this line of the code
bacnet_client.ReadPropertyRequest(device.Key, new BacnetObjectId(BacnetObjectTypes.OBJECT_DEVICE, device.Va

[2021-04-27 05:23] petferns opened #81 "error - {"Abort from device: 4"}"
Hi @gralin I am trying to use the sample project (https://github.com/ela-compil/BACnet.Examples) BacnetToDatabase project. When I run, the form opens and I see ipaddress and name, I select it and click on Transfer to SQL CE, I get error - {"Abort from device: 4"} . The code where get the error is :
bacnet_client.ReadPropertyRequest(device.Key, new BacnetObjectId(BacnetObjectTypes.OBJECT_DEVICE, de

[2021-04-27 05:53] petferns commented on #81
I used the same solution you provided for another ticket of same issue

[2021-04-27 05:53] #81 closed

[2021-05-10 11:01] ameyaalpha opened #82 "About "Who-Has" Support in BACnet version 1.1.5"
Does the current BACnet stack support the 'Who-Has' BACnet service on current Nuget package version 1.1.5?

[2021-06-10 07:37] ztytotoro opened #85 "Any plan for supporting dotnet core/dotnet 5?"
Thanks for your jobs!!!! This project is awesome and I am trying to use it in my dotnet core 3.1 app.

but i got an incompatible message, I noticed that this project is based on dotnet framework 4.

do you have any plan to provide a dotnet standard version?

Microsoft has provided a convenient tool can easily transfrom dotnet  framework to dotnet core

maybe [this](https://github.com/dotnet/upgrad

[2021-06-11 09:13] msschl commented on #85
I would also be interested in this library targeting .net 5

[2021-06-11 09:34] msschl commented on #85
There is already a branch adding [netstandard2.0](https://github.com/ela-compil/BACnet/tree/v2-netstandard)

[2021-06-11 15:35] ztytotoro commented on #85
Great! but seems that it has been stopped updating for months

[2021-06-17 10:22] msschl commented on #85
I've gone ahead and updated the csproj to the new sdk style and also added .net standard 2.0 as a new TFM next to net40.

See #86

[2021-06-17 10:32] gralin commented on #85
Hi @msschl thank you for your contribution! Sorry that there is not much going on in this project lately. I will test and merge or comment your PR over this weekend ok?

[2021-06-17 10:34] msschl commented on #85
Thanks 👍🏽 That sounds good

[2021-06-18 12:52] vseven opened #87 "Is there a more dumbed down version of the examples?"
I'm usually pretty decent at adapting add ins but I'm having trouble with this one.  I have a data logger program that I'm currently using with a Obix library and I'm successfully polling data from Tridium Jaces and web supervisors.  I'd like to poll some data from  BACNet controllers now.  I've successfully gotten a RemoteWhoIs to poll the BBMD and give me a device list but now I want to poll a d

[2021-06-18 13:51] Padanian commented on #87
In vb.net I did it like this:

[code]

You can easily convert it back to c#
Hope this helps

[2021-06-18 13:55] vseven commented on #87
That's great, my program is VB already.  Thank-you.

[2021-06-18 13:55] #87 closed

[2021-06-18 15:19] Padanian commented on #87
Let me know whether it works for you. YMMV.

[2021-06-18 15:26] vseven commented on #87
It didn't but I'm gonna keep plugging away at it.

[2021-06-20 23:20] gralin commented on #85
This was long overdue but thanks to @msschl now the project targets both .NET Framework and .NET Standard so can be used with latest versions of .NET 😃 I've bumped the version to v2 as this is a major change. It stands in conflict with a branch named v2, but that branch will not be merged any time soon (main contributor changed a lot there but didn't finish, so we might only cherry pick from it at

[2021-06-20 23:20] #85 closed

[2021-06-21 01:14] msschl commented on #85
Thanks @gralin 🚀

[2021-06-29 08:50] digibum commented on #62
I to have issues with reading values from devices behind bacnet router. Any samples for this? Thank you!

[2021-06-29 12:40] mwitt1337 commented on #62
The project was cancelled so I am no longer working on BACNET but given all the other issues with the project and the management it wouldn't surprise me if the devices and the BACNET router were not setup correctly.

[2021-06-29 12:40] #62 closed

[2021-08-23 15:14] #29 closed

[2021-09-06 08:37] moebassist opened #88 "No response to WhoIs on Linux"
Hi,

I'm running V2.0.4 on Ubuntu via Mono. If I connect YABE to my PC's ethernet adaptor and the launch my BACnet server app (running on a separate PC Ubuntu 18), everything works well because right after starting the server, an 'Iam(Storage.Deviceid) is executed.

However, when the BACnet server app is running before YABE, it fails to detect a 'Send WhoIs'. I've reviewed incoming packets on the

[2021-09-06 09:13] gralin commented on #88
Hi @moebassist, I don't know how familiar you are with BACnet and/or this library, so just a couple of basic info/questions first:
1. You don't need to use Mono because the library is also compiled as .NET Standard, so you can simply use it in .NET Core/.NET 5 application directly on Linux.

2. I guess you mean it fails to detect a response to WhoIs request? In BACnet both all parties can send Who

[2021-09-06 09:26] moebassist commented on #88
Hi @gralin ,

Thanks for the response!

I have an entire HMI application running on .Net 4.7.1 via Mono. It reads data from many Modbus RTU serial devices and acts as a data gateway, publishing the serial data to ModbusTCP and BACnet. The code uses WinForms to run on Linux, hence .Net 4.7.1.
:
I'm just confirming that I have been sending 'WhoIs' requests from YABE, ant using 'iptraf' on the Linux

[2021-09-06 10:31] gralin commented on #88
Ok. So you can force YABE to use the standard port (47808 or 0xBAC0) for sending and receiving messages like this

![image](https://user-images.githubusercontent.com/3457048/132203568-6a6d199c-7337-40fa-92a4-5f346a11645c.png)

Maybe this will help? Of course you should receive the WhoIs request in your app whenever you send it from YABE. Maybe a firewall on Linux is blocking it?

[2021-09-06 12:07] moebassist commented on #88
It IS to do with broadcast, and nothing to do with machine configuration.

Looking at `BacnetIpUdpProtocolTransport.Open()`:

`_sharedConn `is created happily, but `_exclusiveConn `fails because its endpoint is identical, at which point the function exits....so I can't see how the UDP listener ever worked for both connections?

At the end of this function `Bvlc = new BVLC(this);` is called to atte

[2021-09-10 09:12] moebassist opened #89 "Memory leak on Linux"
On Linux, there's a small memory leak.

Over a period of 25 minutes, 3.2mb was lost.

When the BACnet server is running but no clients are polling for real-time data (e.g. it's just sat there) - memory is stable. When clients poll, it rises.

This could be a tough one to crack.....any thoughts?

[2021-09-10 09:37] gralin commented on #89
3.2MB isn't much, this could be easily caused by extra resources allocated by the CLR. But if you want to check to make sure, you could try to dump memory from two points in time (forcing GC before each) and check new resources which have been allocated. If you find some that shouldn't be there, check what is holding the mand why there weren't collected. I don't have experience in doing this on Li

[2021-09-13 10:33] moebassist commented on #89
Over a 48 hour period my app has lost 27% memory. When the BACnet server is disabled, it sits happily at 19%.....forever.

Definitely a leak somewhere....I've started to trawl through it. The leak is small - I think this will be a nightmare to find since it could be in the BACnet stack, SharpPcap or mono. My hardware is an iMX6 with 1GB ram, so it's not really ideal for installing Rider and profil

[2021-09-13 11:50] gralin commented on #89
Maybe do a similar test on different Linux machine with more resources? Or compare to a test without Mono by simply using .NET 5?

[2021-09-14 09:54] Wascht0 commented on #88
@moebassist Great, thanks a lot. Your solution worked perfectly for me.

[2021-09-14 11:02] moebassist commented on #88
Are you experiencing memory leak as per #89 ?

[2021-09-14 11:05] moebassist commented on #88
In addition to the above, the `Open()` function creates a new BLVC at the last line - which also attempts to determine the broadcast address by iterating through all of the available network adaptors. I've changed this too - (old code simply remarked out)

[code]

[2021-10-14 00:37] asyura opened #90 "How to access device without IAm response?"
Hi, some device has no IAm response, how to ReadPropertyRequest with ip address and device id, thx.

[2021-11-25 12:48] roordaj opened #91 "Socket option Dont Fragment not supported on MacOS"
When using the library on MacOS, I get the following error:

Unhandled exception. System.Net.Sockets.SocketException (45): Operation not supported
   at System.Net.Sockets.Socket.UpdateStatusAfterSocketErrorAndThrowException(SocketError error, String callerName)
   at System.Net.Sockets.Socket.SetSocketOption(SocketOptionLevel optionLevel, SocketOptionName optionName, Int32 optionValue, Boolean si

[2021-12-04 01:10] shaggygi opened #92 "Update to .NET 4.8"
I recently forked and tried building locally and didn't have the older framework/tooling installed.

Not a biggie but seems like this would be updated to latest full framework.  Especially since many older flavors are becoming unsupported in 4/2022.

`<TargetFrameworks>net48;netstandard2.0</TargetFrameworks>`

[2021-12-07 00:32] cuican6 opened #93 "Problems running on Linux"
hi . sometimes, networkcard in linux has two or more ipaddr,  but in bacnet  =>BacnetIpUdpProtocolTransport.cs=>GetAddressDefaultInterface method，two or more ipaddress is  bad, in my submission，there  canbe  write              return unicastAddresses.Length >= 1
                ? unicastAddresses.First()
                : null;
 sir,tell me  my proposal is     correct？
other,i  binding ip in bacne

[2021-12-07 00:33] cuican6 commented on #93
thank you

[2021-12-11 14:16] shaggygi opened #94 "Contributions and Project Activity"
@gralin This project seems interesting and are some areas I would like to add PRs for.  However, it appears to not be as active of late along with not reviewing/accepting other PRs.

I wouldn't mind helping but if there are no plans to continue, I would rather fork to a different path.  Any thoughts are appreciated.

[2021-12-11 14:33] gralin commented on #94
Hi @shaggygi, thanks for your interest in helping out with this project. For the past two years I was overwhelmed by work related projects and didn't find enough time and motivation to contribute much or properly test PRs and merge them. Since the origin of this repository there has been a few people that showed some interest in helping with development but then stopped. If were to start developme

[2021-12-11 14:56] shaggygi commented on #94
@gralin Understood as it can be difficult to keep up with a protocol like BACnet.  I created a similar .NET implementation (not OOS) a few years back and know the challenges.

As for PRs, I would like to first attempt a few simple updates related to new C# 10 features.  This would allow me to become familiar with the code structure and such.  I have a few BACnet devices so this would be a good opp

[2021-12-11 16:09] gralin commented on #94
@shaggygi BACnet is... a 'special' protocol 😉 Few questions:

1. Do you maybe have access to BACnet specification? That's something that a maintainer should have, to be able to add or refactor things. I have access to mine (ANSI/ASHRAE Standard 135-2016) through the company I work for
2. Great that you have access to BACnet devices. Would you be willing to also do some tests on Linux? Some people

[2021-12-11 16:15] shaggygi commented on #94
@gralin

Yes, I also have access to the spec.

I can eventually try, but do more on Windows.  Lemme become more familiar with the code and communication first.  Then I'll see what I can do in this space.  Baby steps 😄

[2021-12-11 16:43] shaggygi commented on #94
@gralin As mentioned, #95 is a simple PR to get me started and help update a few new language features.  I'm going to turn focus on setting up device and communication for now.  Thx

[2021-12-11 16:51] shaggygi opened #96 "Enable Discussions"
Enabling Discussions for the project would be helpful to allow conversations on new ideas before assigning/implementing.

Would it be possible to enable? See [related](https://docs.github.com/en/discussions/quickstart) if so.

[2021-12-14 21:22] #92 closed

[2021-12-14 21:25] #94 closed

[2022-02-03 12:59] cedricht opened #99 "Problem with use Multi_State_Value"
Hi,

I can use the request for send  present value  for analag value and binary value. For this my code is ok

[code]

When i will send a present value to  MultiStateValue with this same code  i have this message :

`System.Exception: 'Error from device: ERROR_CLASS_PROPERTY - ERROR_CODE_INVALID_DATA_TYPE`

I'm sure the problem is in my code. Does anyone have an example to write in bacnet  one Mul

[2022-02-04 10:31] gralin commented on #99
Present_Value property of Multi-state value object is of type Unsigned. You have to use `BacnetApplicationTags.BACNET_APPLICATION_TAG_UNSIGNED_INT` and send and integer value, not float.

![image](https://user-images.githubusercontent.com/3457048/152513629-a9755364-6b07-4601-92fe-55a8da540890.png)

[2022-02-04 14:21] cedricht commented on #99
Hi,

I tried your recommendation.

It’s Ok, Think you for your Helping

Best Regard,
Cédric

De : Jakub Bartkowiak ***@***.***>
Envoyé : vendredi 4 février 2022 11:32
À : ela-compil/BACnet ***@***.***>
Cc : Cédric HEIT ***@***.***>; Author ***@***.***>
Objet : Re: [ela-compil/BACnet] Problem with use Multi_State_Value (Issue #99)

Present_Value property of Multi-state value object is of type Unsig

[2022-02-04 15:10] #99 closed

[2022-02-23 17:16] pocketbroadcast commented on #93
Yes, I can confirm, this is a problem.

If there are multiple ip addresses configured for a single device the [condition](https://github.com/ela-compil/BACnet/blob/a6869708758e70dd196e618459bedf3844ea83dd/Transport/BacnetIpUdpProtocolTransport.cs#L374) evaluates to false and the result is null as if there was no interface at all.

In case of multiple ip addresses configured, which one should be ch

[2022-03-01 16:28] gralin commented on #93
Thank you @cuican6 for reporting and @pocketbroadcast for checking this. It seems this address is only used to guess the correct broadcast address in case there is only one available interface address, otherwise it should return null so that default broadcast address is used. The[ original YABE code](https://sourceforge.net/p/yetanotherbacnetexplorer/code/HEAD/tree/trunk/Yabe/BACnetTransport.cs#l3

[2022-03-03 11:44] pocketbroadcast commented on #88
Windows forwards packets sent to broadcast address to all the addresses bound within the subnet.
Linux does not forward the broadcasts anywhere. Thus, **you have to explicitly bind to the broadcast address**.
This is good, since you as developer can decide if you want to listen for broadcasts! In IPv6 there won't even be broadcasts at all!

This is highly OS dependent. As stated before, Windows wi

[2022-04-20 10:25] lc1337 opened #101 "ReadPropertyMultiple request without specifying BacnetPropertyReference->propertyArrayIndex"
I am trying to send to server "ReadPropertyMultiple" request, however I am unable to read non-array BACNet properties, since the System.IO.BACnet.BacnetClient.ReadPropertyMultipleRequest requires list of System.IO.BACnet.BacnetPropertyReference(s) ...

`    public bool ReadPropertyMultipleRequest(BacnetAddress address, BacnetObjectId objectId, IList<BacnetPropertyReference> propertyIdAndArrayIndex

[2022-05-02 03:36] sunnyinchina opened #102 "“System.IO.FileNotFoundException”类型的未经处理的异常在 BACnet.dll 中发生"
使用2.0.4版本
BacnetClient aBacnetClient(port, timeout, retries);
执行报错“System.IO.FileNotFoundException”
请问什么原因？

[2022-06-16 09:41] lligios commented on #90
try this:

BacnetAddress adr = new BacnetAddress(BacnetAddressTypes.IP, "<ip>:<port>");
adr.RoutedSource = new BacnetAddress(BacnetAddressTypes.None, <virtual network number>, new byte[] { <deviceId>,0, 0, 0, 0, 0 });
var BacnetObject = new BacnetObjectId(BacnetObjectTypes.OBJECT_ANALOG_VALUE,0);
var BacnetProperty = BacnetPropertyIds.PROP_PRESENT_VALUE;
bacnet_client.ReadPropertyRequest(adr2, Bac

[2022-06-22 10:27] ezik117 opened #104 "Wrong text for reject code 9"
In the file [MASTER] Base/BacnetRejectReason.cs line 83 the text must be "UNRECOGNIZED_SERVICE = 9" instead "RECOGNIZED_SERVICE = 9"

[2022-06-22 15:56] Machinegon opened #105 "ReadPropertyAsync on OBJECT_CHARACTERSTRING_VALUE with MS/TP transport silently truncates data"
I'm using BACnet library Release 2.0.4 on mono 6.10 with linux, target framework 4.8.
This type of request, about 1 time out of 5, truncates the expected string to the last character only and does not raise any exception.

The code:

                var getValue = this.client.ReadPropertyAsync(node.Addr, BacnetObjectTypes.OBJECT_CHARACTERSTRING_VALUE, 0, BacnetPropertyIds.PROP_PRESENT_VALUE);

[2022-06-28 12:05] LADSoft opened #106 "problem with 'shared port' in bacnet ip/udp module"
I had added PR #79 a year or two ago...   one of the changes was to fix the 'shared port' functionality in the bacnet ip/udp module.

When I tried to upgrade to 2.0.4 recently, I found that that functionality was broken again.

This is something we need.

Right now wireshark shows two broadcast IAM messages coming in, neither of which is being sent on to my handler.

Nothing has changed in the cod

[2022-06-28 18:05] #105 closed

[2022-07-22 23:24] mustafa-issa commented on #90
@lligios can you share the full code

[2022-07-26 07:57] gralin commented on #90
@mustafa-issa share your code that you made based on suggestion from @lligios and if it doesn't work we will help you fix it.

[2022-07-26 08:44] mustafa-issa commented on #90
@gralin Actually, what I am trying to do is to list all devices without the OnIam delegate.
The suggestion above needs a BACnet client object, that I don't know how to initialize.

[2022-07-26 08:54] lligios commented on #90
this is my code example.. assume _bacnet_client as a BacnetClient Object

 internal static bool ReadScalarValueFromBacnet(
		uint device_id,
		BacnetObjectId BacnetObject,
		BacnetPropertyIds BacnetPropertyId,
		ushort BacnetNetwork,
		string BacnetIp,
		int BacnetPort,
		out BacnetValue Value)
        {
            Value = new BacnetValue(null);
            try
            {
                IList

[2022-07-26 15:27] gralin commented on #90
One simple way of reading something from a device without a need of sending WHO-IS and receiving I-AM is this:

[code]

If you have more complex scenario then you might want to fiddle with the `deviceAddress` and set its `RoutedSource` property like @lligios suggested

[2022-08-22 13:57] joproulx opened #110 "OutOfRangeException when sending big request"
### Description:
I am trying to send a **big** ReadPropertyMultiple request through UDP and and looking at Wireshark, I can see that the request never gets to the network.

### Investigation:
There is an ArgumentOutOfRangeException thrown when sending data through the UDP socket (`BacnetIpUdpProtocolTransport.Send()`). As you can see, the data length (1693) is greater than the max ADPU which is 14

[2022-08-22 18:16] gralin commented on #110
Hi @joproulx, thanks for sharing details with your issue. So far I only had segmentation in responses but BACnet supports also segmentation in requests, so your use case if valid.

Unfortunately, based on my quick review, this codebase is not prepared to send requests in more than one frame. There are fragments that seem prepared for that:

https://github.com/ela-compil/BACnet/blob/9a7e2272b6e5c96

[2022-08-22 19:50] joproulx commented on #110
Ok thanks for the explanation @gralin. I split the `ReadPropertyMultipleRequest` as suggested and it works fine.

I see. your point. I would suggest to just avoid swallowing the exception and let it bubble up.
![image](https://user-images.githubusercontent.com/1434190/186006271-d7bcf9cb-2054-41ab-bc53-a5aeb04bc2ac.png)

But again, this is not a critical issue since it doesn't really break any func

[2022-08-23 10:54] gralin commented on #110
Sure, I agree, I would only wrap the original exception with something more meaningful than `OutOfRangeException`, so that it's clear that you are trying to send too much data and since segmentation of requests is not implemented, this has failed. Feel free to submit a PR if you want to improve the codebase.

[2022-08-23 10:54] #110 closed

[2022-08-25 09:55] hhazime opened #111 "Setting up a notification class"
Hello,

I am trying to create a notification class to report intrinsic alerts based on a binary property of an object. I was wondering if there is a certain example or documentation to demonstrate the creation of an alert.

[2022-10-11 16:31] LADSoft opened #113 "Throws exception when parsing 'BacnetAddress' structure with broadcast mac address"
I tried to read someone's notification class recipient list and had a problem with that.   Basically, they had stuck a by address record in with a broadcast mac address.    I looked and the spec specifically allows for this; basically an empty byte array in the MAC address field is considered to be a broadcast address.   (FWIW this same record also had the broadcast network address of 0xffff)

The

[2022-10-19 02:01] joproulx opened #114 "IndexOutOfRangeException when calling BacnetClient.ReadPropertyResponse"
### Issue

When calling ReadPropertyResponse, we get an IndexOutOfRangeException with the following stack trace:

[code]

### How to reproduce

- ela-compil/BACnet  v2.0.4
- We use the library with the BacnetIpUdpProtocolTransport
- When receiving a ReadPropertyRequest from a remote BACnet device, return a response bigger than 1476 bytes
- The request must have been routed through a BACnet router

[2022-10-31 08:40] YarekTyshchenko commented on #46
Yup, can confirm the reads are not threadsafe. It has to do with InvokeId, a uint8 that gets added to every request like a correlation ID, it gets incremented every request, and if you send too many requests it can quickly roll over and cause problems.

[2022-10-31 08:46] YarekTyshchenko opened #115 "Setting `.DontFragment` on `UdpClient` on MacOS fails with an exception"
This is a stack trace (private info removed) running on OSX. The culprit seems to be this assignment, it throws an exception on OSX.
https://github.com/ela-compil/BACnet/blob/22537b585d389f662cbb2a900fb55169d3f01d3e/Transport/BacnetIpUdpProtocolTransport.cs#L103

[code]

In my patched version I just catch and ignore, but would be nice to know how to actually handle this.

[2022-10-31 08:50] YarekTyshchenko commented on #115
https://github.com/dotnet/runtime/issues/27653

[2022-11-14 05:04] scottpidzarko commented on #24
Have these tests been added in a PR? This has been an open issue for almost 5 years and it seems odd that there has been no updates or closing of the issue.

[2022-11-14 06:02] scottpidzarko commented on #89
@moebassist did you eventually pinpoint the issue / confirm a leak?

Scott

[2022-11-14 09:11] moebassist commented on #89
Hi Scott,

I didn't.....I force a garbage collection and that reclaimed the memory....I know this isn't a great idea but I didn't have the time to review the entire library, and I don't have the CPU power/memory for a decent profiling.

It could be the recursive `connection.BeginReceive(OnReceiveData...` since tasks aren't disposed....this is a wild guess though!

I made a few changes to this libr

[2022-11-14 17:08] scottpidzarko commented on #89
Thanks Anthony for your prompt response, this will be really helpful. I am also dealing with a GB of RAM, in Mono, on a Linux kernel.

If it's running in production without major issues coming back to you about memory then that calms my fear of an actual leak down. Maybe when I finish my December deadline and things calm down for the holidays I'll spin up a virtual machine and try and replicate th

[2022-11-14 18:15] moebassist commented on #89
I have a 1 minute timer that performs all sorts of actions; I just banged a GC.Collect() in there. It’s running 24/7 without issues.

Ant.

[2022-11-17 17:15] LADSoft commented on #113
i fixed this in #117 , closing this issue.

[2022-11-17 17:15] #113 closed

[2022-11-21 09:16] YarekTyshchenko commented on #102
You'd have to provide the rest of the stack trace. I don't think the library does any file IO, so I suspect its elsewhere in your code

[2022-11-21 10:19] #115 closed